<a href="https://colab.research.google.com/github/redcoding72/EDUBlib-Introduction-Sciences-des-donn-e-AI/blob/main/pratique_FE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a href="https://colab.research.google.com/github/pia-fcse-bdeb/Cours-EDUlib/blob/master/module-3/Exercices/pratique_FE.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Pratique Feature Engineering

## Lire le fichier de données en utilisant pandas.read_csv

On vous fournit les lignes de codes qui permettent de charger les données, vous pouvez soit :
* Télécharger le fichier de données et procéder à son chargement sur votre machine locale ou bien sur google Colab. Pour cela, il vous faut décommenter la **cellule A** et commenter la **cellule B**.
* Charger les données directement depuis google drive sans avoir à télécharger le fichier sur votre machine locale. Pour ce faire, utilisez les lignes de code de la **cellule B**.

### Cellule A

In [ ]:
# # importer la librairie pandas
# import pandas as pd
# # lecture du fichier de données
# data = pd.read_csv("data_spectacle.csv")

### Cellule B

In [55]:
# importer la librairie pandas
import pandas as pd

# charger les données contenues dans un fichiers csv se trouvant sur drive
URL = 'https://drive.google.com/file/d/1PLwbhFdvisCRmKvaMbQp7NqmDYMQGjTV/view?usp=sharing'

data_spectacle = 'https://drive.google.com/uc?export=download&id='+URL.split('/')[-2]
data = pd.read_csv(data_spectacle)

In [56]:
# Afficher le dataframe
df = data.copy()
df

    Naissance  Date_Achat Num_Billet    Prix
0  1997-05-20  2020-06-18     D20103   63.98
1  1980-10-21  2018-07-01     F18278   65.98
2  2006-04-09  2019-07-19     F19351  149.95
3  1981-07-13  2019-07-19     F19351  149.95
4  2000-03-03  2018-11-09     S18423   34.99
5  1994-01-17  2020-06-18     D20103   63.98
6  2009-04-01  2019-07-19     F19351  149.95
7  1982-03-27  2019-07-19     F19351  149.95
8  2006-10-17  2018-07-01     F18278   65.98
9  2009-07-27  2019-07-19     F19351  149.95

## Pratique 1

In [57]:
# Procéder à la vérification du type de variables et à la conversion qui vous semble nécessaire.
## Vérifier le type des variables 
df.dtypes

Naissance      object
Date_Achat     object
Num_Billet     object
Prix          float64
dtype: object

In [58]:
## faire une conversion de type
df["Naissance"] = pd.to_datetime(df.Naissance)
df["Date_Achat"] = pd.to_datetime(df.Date_Achat)

In [59]:
# Procéder à la création d’une colonne qui donne l’âge des clients
df["Age"] = df["Date_Achat"].dt.year - df["Naissance"].dt.year

In [60]:
# Afficher le dataframe
df

   Naissance Date_Achat Num_Billet    Prix  Age
0 1997-05-20 2020-06-18     D20103   63.98   23
1 1980-10-21 2018-07-01     F18278   65.98   38
2 2006-04-09 2019-07-19     F19351  149.95   13
3 1981-07-13 2019-07-19     F19351  149.95   38
4 2000-03-03 2018-11-09     S18423   34.99   18
5 1994-01-17 2020-06-18     D20103   63.98   26
6 2009-04-01 2019-07-19     F19351  149.95   10
7 1982-03-27 2019-07-19     F19351  149.95   37
8 2006-10-17 2018-07-01     F18278   65.98   12
9 2009-07-27 2019-07-19     F19351  149.95   10

In [61]:
df.dtypes

Naissance     datetime64[ns]
Date_Achat    datetime64[ns]
Num_Billet            object
Prix                 float64
Age                    int64
dtype: object

On désir maintenant connaitre la catégorie d’âge à laquelle appartient chaque client, pour ce faire, on utilisera les correspondances suivantes :
* Enfants -- > âge de 0 à 14 ans
* Adolescents -- > âge de 15 à 24 ans
* Adultes -- > âge de 25 à 64 ans
* Aînés -- > âge de 65 et plus

In [62]:
# On commence par créer une fonction qui va se charger d'encoder les valeurs
## Complétez la fonction age_categories pour créer une colonne qui donnera la catégorie d'âge à l'aide de la fonction map
def age_categories(x):
    return "Enfants" if x <= 14 else "Adolescents" if x <= 24 else "Adultes" if x <= 64 else "Aînés"

In [63]:
# Complétez la fonction age_categories pour créer une colonne qui donne la catégorie d'age à l'aide de la fonction map
df["Age_categories"] =df["Age"].map(lambda age : age_categories(age))

In [64]:
# Vérification
df

   Naissance Date_Achat Num_Billet    Prix  Age Age_categories
0 1997-05-20 2020-06-18     D20103   63.98   23    Adolescents
1 1980-10-21 2018-07-01     F18278   65.98   38        Adultes
2 2006-04-09 2019-07-19     F19351  149.95   13        Enfants
3 1981-07-13 2019-07-19     F19351  149.95   38        Adultes
4 2000-03-03 2018-11-09     S18423   34.99   18    Adolescents
5 1994-01-17 2020-06-18     D20103   63.98   26        Adultes
6 2009-04-01 2019-07-19     F19351  149.95   10        Enfants
7 1982-03-27 2019-07-19     F19351  149.95   37        Adultes
8 2006-10-17 2018-07-01     F18278   65.98   12        Enfants
9 2009-07-27 2019-07-19     F19351  149.95   10        Enfants

In [65]:
# Créer une colonne qui donne le prix unitaire des billets, vous pouvez reprendre le code vu dans la vidéo du cours
## Créer un dictionnaire quantité billet
qte = df["Num_Billet"].value_counts().to_dict()

In [66]:
# Calcule du prix unitaire des billets
df["Prix_unitaire"] = df["Prix"]/df["Num_Billet"].map(lambda num : qte [num])

In [67]:
# Vérification, afficher le dataframe
df

   Naissance Date_Achat Num_Billet    Prix  Age Age_categories  Prix_unitaire
0 1997-05-20 2020-06-18     D20103   63.98   23    Adolescents          31.99
1 1980-10-21 2018-07-01     F18278   65.98   38        Adultes          32.99
2 2006-04-09 2019-07-19     F19351  149.95   13        Enfants          29.99
3 1981-07-13 2019-07-19     F19351  149.95   38        Adultes          29.99
4 2000-03-03 2018-11-09     S18423   34.99   18    Adolescents          34.99
5 1994-01-17 2020-06-18     D20103   63.98   26        Adultes          31.99
6 2009-04-01 2019-07-19     F19351  149.95   10        Enfants          29.99
7 1982-03-27 2019-07-19     F19351  149.95   37        Adultes          29.99
8 2006-10-17 2018-07-01     F18278   65.98   12        Enfants          32.99
9 2009-07-27 2019-07-19     F19351  149.95   10        Enfants          29.99

## pratique 2

## list comprehension

La technique dite de liste compréhension consiste à insérer une boucle for à l’intérieur d’une liste. Pour mieux comprendre, on donne l’exemple suivant qui consiste à ajouter les nombres de 0 à 4 dans une liste.

### méthode classique

In [68]:
# déclarer une liste vide
liste_1 = []
# dans une boucle, ajouter les éléments à la liste
for i in range(5):
    liste_1.append(i)

In [69]:
# afficher la liste_1
print(liste_1)

[0, 1, 2, 3, 4]

### list comprehension

In [70]:
liste_2 = [i for i in range(5)]

In [71]:
# afficher la liste_2
liste_2

[0, 1, 2, 3, 4]

* Notes et explications:
    * **[ i for i in range(5) ]** : signifie, générer une liste (car le code est entre crochets **[...]** ) qui contient les éléments "i" pour "i" dans range(5)
    *  Les list comprehension sont très utilisées car: 
        * Car elles permettent de réduire le nombre de lignes de code nécessaires
        * Elles font partie des bonnes pratiques
        * Offrent un gain de temps en calcule

#### exemple 2

In [72]:
# soit la liste d'éléments suivant:
maliste = ["1","A", "B", "2", "C", "3"]

In [73]:
# On peut facilement générer une liste contenant que les numéros et une autre que les lettres
liste_num     = [element for element in maliste if     element.isdigit()]
liste_lettres = [element for element in maliste if not element.isdigit()]

In [74]:
# affichage
print("liste_num = ", liste_num,  "et liste_lettres = ", liste_lettres)

liste_num =  ['1', '2', '3'] et liste_lettres =  ['A', 'B', 'C']

* Note:
    * **Essayez d'utiliser list comprehension pour le reste de l'exercice**

## charger les données

In [75]:
# Importer pandas
import pandas as pd

# charger les données contenues dans un fichiers csv se trouvant sur drive
URL = 'https://drive.google.com/file/d/1nihuawEZ18ljI83_ajW8sR4xF2ckO-b1/view?usp=sharing'
data_texte = 'https://drive.google.com/uc?export=download&id='+URL.split('/')[-2]

# Charger les données
df = pd.read_csv(data_texte)
# Afficher dataframe
df

                                           Documents
0  La connaissance s'acquiert par l'expérience, t...
1             Qui veut aller loin ménage sa monture.
2  Un arbre qui tombe fait plus de bruit qu'une f...
3    À vaincre sans péril, on triomphe sans gloire!
4  Un homme n'est jamais si grand que lorsqu'il e...

In [84]:
# Installer TextBlob
!pip install  TextBlob

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: TextBlob in /usr/local/lib/python3.7/dist-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /usr/local/lib/python3.7/dist-packages (from TextBlob) (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk>=3.1->TextBlob) (1.15.0)

In [98]:
# importer TextBlob
from textblob import TextBlob
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [99]:
# Comme on l'a vu dans la vidéo du cours, à l'aide de TextBlob, proceder à la tokenisation des documents, 
df["tokens"] = df["Documents"].map(lambda doc: TextBlob(doc.lower()).words)

In [100]:
# Afficher le dataframe
df

,Documents,tokens
0,"La connaissance s'acquiert par l'expérience, t...","[la, connaissance, s'acquiert, par, l'expérien..."
1,Qui veut aller loin ménage sa monture.,"[qui, veut, aller, loin, ménage, sa, monture]"
2,Un arbre qui tombe fait plus de bruit qu'une f...,"[un, arbre, qui, tombe, fait, plus, de, bruit,..."
3,"À vaincre sans péril, on triomphe sans gloire!","[à, vaincre, sans, péril, on, triomphe, sans, ..."
4,Un homme n'est jamais si grand que lorsqu'il e...,"[un, homme, n'est, jamais, si, grand, que, lor..."

#### nombre de mots

In [102]:
# Créer la colonne qui donne le nombre de mots dans chaque document
df["nbr_mot"] = df["tokens"].map( lambda mot: len(mot) )

In [103]:
# Afficher le dataframe
df

,Documents,tokens,nbr_mot
0,"La connaissance s'acquiert par l'expérience, t...","[la, connaissance, s'acquiert, par, l'expérien...",12
1,Qui veut aller loin ménage sa monture.,"[qui, veut, aller, loin, ménage, sa, monture]",7
2,Un arbre qui tombe fait plus de bruit qu'une f...,"[un, arbre, qui, tombe, fait, plus, de, bruit,...",12
3,"À vaincre sans péril, on triomphe sans gloire!","[à, vaincre, sans, péril, on, triomphe, sans, ...",8
4,Un homme n'est jamais si grand que lorsqu'il e...,"[un, homme, n'est, jamais, si, grand, que, lor...",15

#### longueur moyenne des mots

In [109]:
# Créer la colonne qui donne la longueur moyenne des mots dans chaque document
df["longueur_moyenne"] = df["tokens"].map( lambda doc : round(sum(len(mot) for mot in doc)/len(doc)))
#df["longueur_moyenne"] = df["tokens"].map(lambda document : sum(len(mot) for mot in document) / len(document))

In [110]:
# Afficher le dataframe
df

,Documents,tokens,nbr_mot,longueur_moyenne
0,"La connaissance s'acquiert par l'expérience, t...","[la, connaissance, s'acquiert, par, l'expérien...",12,6
1,Qui veut aller loin ménage sa monture.,"[qui, veut, aller, loin, ménage, sa, monture]",7,4
2,Un arbre qui tombe fait plus de bruit qu'une f...,"[un, arbre, qui, tombe, fait, plus, de, bruit,...",12,4
3,"À vaincre sans péril, on triomphe sans gloire!","[à, vaincre, sans, péril, on, triomphe, sans, ...",8,5
4,Un homme n'est jamais si grand que lorsqu'il e...,"[un, homme, n'est, jamais, si, grand, que, lor...",15,4

#### nombre de stop words fr

In [116]:
# On vous donne la liste de stop words en français suivante:
liste_sw_fr = ['au', 'aux', 'avec', 'qui', 'ce', 'ces', 'dans', 'sa', 'de', 'des', 'du', 'elle', 'en', 'et', 'eux','à', 'on',
              'la', 'par', 'le', 'que', 'un', 'est', 'pour']

In [117]:
# Créer la colonne qui donne le nombre de sopt words en français dans chaque document
# df["nbr_stop_words"] = df.tokens.map(lambda doc :len([mot for mot in doc if mot in liste_sw_fr]))
df["nbr_stop_words"] = df.tokens.map(lambda doc: len([mot for mot in doc if mot in liste_sw_fr]))

In [118]:
# Afficher le dataframe
df

,Documents,tokens,nbr_mot,longueur_moyenne,nbr_stop_words
0,"La connaissance s'acquiert par l'expérience, t...","[la, connaissance, s'acquiert, par, l'expérien...",12,6,5
1,Qui veut aller loin ménage sa monture.,"[qui, veut, aller, loin, ménage, sa, monture]",7,4,2
2,Un arbre qui tombe fait plus de bruit qu'une f...,"[un, arbre, qui, tombe, fait, plus, de, bruit,...",12,4,4
3,"À vaincre sans péril, on triomphe sans gloire!","[à, vaincre, sans, péril, on, triomphe, sans, ...",8,5,2
4,Un homme n'est jamais si grand que lorsqu'il e...,"[un, homme, n'est, jamais, si, grand, que, lor...",15,4,6