<a href="https://colab.research.google.com/github/redcoding72/EDUBlib-Introduction-Sciences-des-donn-e-AI/blob/main/pratique_bd_sqlite.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Pratique à partir de BD relationnelle SQLite

In [5]:
#BD sqlite
import sqlite3
#creer une connexion sur la BD
conn = sqlite3.connect("bdeb.dbf")
#script DDL
cde_ddl = """ create table if not exists usagers(id integer primary key autoincrement, nom text, age integer)
"""
#créer un curseur
curseur = conn.cursor()
#créer la table
curseur.execute(cde_ddl)

In [9]:
#Insertion des données
nom =input("Saisire votre nom: ")
age = int(input("Saisir votre age: "))
commande ="insert into usagers(nom, age) values (?,?)"
curseur.execute (commande, [nom, age])
conn.commit()

Saisire votre nom: REDA
Saisir votre age: 50

In [12]:
#Select des données
requete= "select nom, age from usagers"
curseur.execute(requete)
#parcours du curseur
print("=" * 50)
lignes = curseur.fetchall()
for ligne in lignes:
  print("Nom:{}, Age:{}".format(ligne[0], ligne[1]))
#fermer la BD
conn.close()

==================================================
Nom:REDA, Age:50

# Solutionnaires

In [ ]:
#BD sqlite
import sqlite3
#creer une connexion sur la BD
conn = sqlite3.connect("bdeb.dbf")
#script DDL
cde_ddl = """create table if not exists usagers(
id integer primary key autoincrement,
nom text,
age integer
)
"""
#créer un curseur
curseur = conn.cursor()
#créer la table
curseur.execute(cde_ddl)

In [ ]:
#Insertion des données
cde = "insert into usagers(nom,age) values (?,?)"
nom = input("Votre nom:")
age = int(input("Votre age:"))
curseur.execute(cde, [nom,age])
conn.commit()

In [ ]:
#Select des données
requete = "select id, nom, age from usagers where age = ?"
mot_cle = int (input("Age recherché:"))
curseur.execute(requete, [mot_cle,])
#parcours du curseur
print("=" * 50)
for ligne in curseur:
   print("ID:{} Nom:{} et Age:{}". format(ligne[0], ligne[1], ligne[2]))
#fermer la BD
conn.close()